<!DOCTYPE html>
<head>
    <title>ELIXIR | A distributed infrastructure for life-science information</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <style>
        .row {
            display: flex;
            flex-direction: row;
        }

        .left {
            flex: 1;
        }

        .right {
            flex: 1;
        }
    </style>
</head>
<body>
<div id="page-wrapper">
    <div id="page" class="page">
        <div id="content-wrapper">
            <div class="container">
                <div id="columns">
                    <div class="columns-inner clearfix">
                        <div id="content-column">
                            <div class="content-inner">
                                <h1>BioSamples fork of Elixir JSON schema validator</h1>
                                <p>
                                    Validate your JSON agains JSON Schema. The validator is based on AJV and includes
                                    custom keyword extensions that are relevant for life science data validation.
                                </p>
                                <section class="row">
                                    <div class="left">
                                        <div class="bloc_left">
                                            <form>
                                                <div>
                                                    <span><a id="load" href="#">Load sample data</a></span>
                                                    <div style="display: inline;">
                                                        <button id="validate" value="Validate">Validate</button>
                                                    </div>
                                                    <div class="horiz">
                                                        <label for="input">Schema:</label>
                                                        <span class="error starthidden" style="display: none;"
                                                              id="input-invalid">Invalid JSON parse error, <a
                                                                id="input-link" href="#"></a></span>
                                                    </div>
                                                    <textarea name="input" rows="20" cols="60" id="input"
                                                              placeholder="Enter your JSON schema or a URL to your schema here..."></textarea>

                                                    <div class="horiz">
                                                        <label for="input2">Data:</label>
                                                        <span class="error starthidden" style="display: none;"
                                                              id="input2-invalid">Invalid JSON parse error, <a
                                                                id="input2-link" href="#"></a></span>
                                                    </div>
                                                    <textarea name="input2" rows="20" cols="60" class="half"
                                                              id="input2"
                                                              placeholder="Enter JSON instance to validate against the schema...">
                                                    </textarea>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div style="margin-left: 2%" class="right">
                                        <div>
                                            <div>
                                                <div style="text-align: left;" class="horiz">
                                                    <span style="font-weight: bold; ">Validation results:</span>
                                                    <br/>
                                                    <span id="failed" style="display: none;color : red;">INVALID</span>
                                                    <span id="valid" style="display: none;color : green;">VALID</span>
                                                    <div id="results"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
</body>
<script>
    $(document).ready(function () {
        $("#results").val("");
        $("#load").click(function (evt) {
            evt.preventDefault();
            schema = {
                "$schema": "http://json-schema.org/draft-07/schema#",

                "type": "object",
                "properties": {
                    "alias": {
                        "description": "A sample unique identifier in a submission.",
                        "type": "string"
                    },
                    "taxonId": {
                        "description": "The taxonomy id for the sample species.",
                        "type": "integer"
                    },
                    "taxon": {
                        "description": "The taxonomy name for the sample species.",
                        "type": "string"
                    },
                    "releaseDate": {
                        "description": "Date from which this sample is released publicly.",
                        "type": "string",
                        "format": "date"
                    },
                    "disease": {
                        "description": "The disease for the sample species.",
                        "type": "string"
                    },
                    "disease_id": {
                        "description": "The ontology id for the disease sample species.",
                        "type": "string",
                        "graph_restriction": {
                            "ontologies": ["obo:mondo", "obo:efo"],
                            "classes": ["MONDO:0000001", "PATO:0000461"],
                            "relations": ["rdfs:subClassOf"],
                            "direct": false,
                            "include_self": true
                        }
                    }
                },
                "required": ["alias", "taxonId"]
            };
            object = {
                "alias": "MA456",
                "taxonId": 9606,
                "disease": "glioblastoma",
                "disease_id": "MONDO:0018177"
            };
            $("#input").val(JSON.stringify(schema, null, 2));
            $("#input2").val(JSON.stringify(object, null, 2));
        });

        $("#validate").click(function (event) {
            event.preventDefault();
        }).bind("click", function (e) {
            var schema;
            var instance;

            try {
                schema = JSON.parse($("#input").val());
                instance = JSON.parse($("#input2").val());
            } catch (e) {
                $("#valid").hide();
                $("#failed").show();
                $("#results").empty();
            }

            if (schema && instance) {
                var submit = {
                    "schema": schema,
                    "object": instance
                };

                $.ajax({
                    type: "POST",
                    url: 'validate',
                    data: JSON.stringify(submit),
                    success: function (response) {
                        if (response.length === 0) {
                            $("#valid").show();
                            $("#failed").hide();
                            $("#results").empty();
                        } else {
                            $("#valid").hide();
                            $("#failed").show();
                            $('#results').append("<ul id='cList'></ul>");
                            for (i = 0; i < response.length; i++) {
                                $("#cList").append("<li><span style=\"color: red;\">" +
                                    response[i].message + "</span></li>");
                            }
                        }
                    },
                    contentType: 'application/json'
                });
            }
        });


    });
</script>
